.code-editor {
  border: solid 1px var(--font-color-grey-4);
  position: relative;
}

.code-error {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100px;

  pre {
    display: block;
    padding: 0.5rem;
    background: #ff5555;
    color: #f8f8f2;
    white-space: pre-wrap;
    text-align: left;
    font-size: 0.9em;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
  }
}
