.layout {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 900px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background: var(--bg-color-grey-4);
}

.top-bar {
  background: #ffffff;
  height: 48px;
  padding: 0 60px;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(8px);
}

.menu {
  min-height: 164px;
  max-width: 348px;
}

.canvas {
  background: #8b8c8c;
  overflow: hidden;
  padding: 20px;
}

.props {
  width: 368px;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
}

.device {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  :global {
    .device-location {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.page-content {
  background-color: #ffffff !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page-children {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  :global {
    .device-frame {
      box-sizing: border-box;
      background: transparent !important;
      box-shadow: none;
    }

    .device-screen {
      overflow: hidden;
    }
  }
}

.page-header {
  position: static !important;
  opacity: 0;
  pointer-events: none;
}
